# Compiled output
target/

# Editor configuration files
.vscode/

# Environment variables
**/*.env

# Python bindings tests
*.py

# Output formats
**/*.gv
**/*.png
**/*.svg

# Benchmark results
benchmarks/results/**

# Draw.io backups
**/*.bkp

# Documentation images
!images/*.png
